<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Finder</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="centered">
      <%= yield %>
    </div>

  <footer class="centered">
    <p>Powered By Food2Fork.com</p>
  </footer>
  </body>
</html>
